 /*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;

}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;
  --color-preto: #000000;
  --color-azul-acinzentado: #8186C0;
  --color-roxo-medio: #5E2993;
  --color-rosa-claro: #F178B6;
  --color-rosa-choque: #B75CDB;
  --colo-branco: #ffffff;
  --color-roxo-escuro: #432D9C;
  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--color-azul-acinzentado);
  background: var(--colo-branco);
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  font-family: 'Poppins';
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--color-preto);
}

#header .logo {
  width: 240px;
  font-family: 'Poppins';

}

.divider-1 {
  height: 1px;
  background: var(--color-AZUL)
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

#header {
  border-bottom: 1px solid #432D9C;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  width: 100%;
}

#header .scroll {
  box-shadow: 0px 0px 12px rgba(227, 18, 18, 0.15);
}
/*====  FORMS ============================ */

#forms {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-left: 24rem;
  margin-right: 24rem;
}

#forms .divContainer{
  width: 600px;
  height: 450px;
  border-radius: 0.5rem;
  margin-bottom: 15px;
  margin-top: 100px;
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
#forms .title{
  margin-top: 5rem;
  height: 3rem;
  text-align: center;
  color: #5E2993;
}

#forms #campos {
  margin-left: 70px;
}

#forms .subLogin{
  text-align: center;
  margin-bottom: 20px;
}

#forms .subLogin a{
  cursor: pointer;
}

#forms .divNomes{
  display: flex;
  width: auto;
}

#forms .divNomes input{
  border: 0.0625rem solid #8186C0;
  border-radius: 0.5rem;
  height: 3rem;
  padding-left: 15px;
  color: #432D9C;
  margin-bottom: 15px;
}

#forms .divNomes #nomePrincipal{
  display: flex;
  flex-direction: column;
  width: 60%;
}

#forms .divNomes #sobreNome{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#forms .divNomes #inputSobreNome{
  width: 15rem;
}

#forms .divNomes #inputSobreNome{
  width: 15rem;
}

.input{
  display: flex;
  width: 28rem;
  height: 3rem;
  border: 0.0625rem solid #8186C0;
  border-radius: 0.5rem;
  margin-bottom: 15px;
  padding-left: 15px;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
} 


.button {
  background: var(--color-rosa-claro);
  color: var(--colo-branco);

  width: 100%;
  cursor: pointer;
  height: 3rem;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 5rem;
  border: 0.0625rem;
  border-radius: 0.5rem;

  font: 500 1rem var(--body-font);
  transition: background 0.3s;

}

#forms #btn{
  width: 28rem;
}

.button:hover{
  background-color:;
}


#forms .input-mensagem-erro {
  display: none;
 }

 #forms .input-container--invalido .input-mensagem-erro {
  color: #df2525;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
 }

 #forms .error-text {
  color:#df2525;

 }
/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--color-roxo-medio);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--color-roxo-medio);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}
.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  height: 178px;
}

/* navigation */
nav .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}
nav .menu ul {
  display: flex;
  gap: 2rem;
}
