/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5F2A96;
}

img {
  width: 100%;
  height: auto;
  /* border: none; */
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;
  --color-PRETO: #000000;
  --color-AZUL: #8186C0;
  --color-roxo: #5E2993;
  --color-rosa: #F178B6;
  --color-roxo-claro: #B75CDB;
  --body-color: #ffffff;
  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--color-AZUL);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--color-PRETO);
}

#header .logo {
  width: 240px;
  font-family: 'Poppins';

}


.button {
  background-color: var(--color-rosa);
  color: var(--body-color);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 7rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.divider-1 {
  height: 1px;
  background: var(--color-AZUL)
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var();
}

#header {
  border-bottom: 1px solid #5F2A96;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #121133;
  width: 100%;
}

#header .scroll {
  box-shadow: 0px 0px 12px rgba(227, 18, 18, 0.15);
}


/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover{
  color: #F178B6;
}

nav ul li a.active {
  color: var(--body-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--color-rosa);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--body-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*====  INICIO ============================ */

#home {
  overflow: hidden;
  padding-top: 100px;
}

#home .container {
  margin: 0;
}
.mundo {
  overflow: hidden;
  background-image: url('/assets/fotos/principal.png');
  background-size: cover;
  background-position: center;
  color: white;
}


#home h2 {
  width: 684px;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 105px;

  color: var(--color-rosa);
}
#home p {
  width: 684px;
  height: 214px;
  left: 98px;
  top: 423px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 54px;

  color: var(--base-color);
}

#home button{
  width: 684px;
  height: 60px;
  border-radius: 10px;
  border: none !important;
  background-color: #5E2993;

  font-family: 'Poppins';
  cursor: pointer;
  color: rgb(229, 204, 239);
  font-size: 32px;
  font-weight: 600;
}

#home button:hover{
  background-color: var(--color-rosa);
  color: #121133;
  -webkit-box-shadow: 0 1px 10px 1px rgb(183, 92, 219);
  -moz-box-shadow: 0 1px 10px 1px rgb(183, 92, 219);
  -o-box-shadow: 0 1px 10px 1px rgb(183, 92, 219);
  box-shadow: 0 1px 10px 1px rgb(183, 92, 219);
  transition-duration: 0.3s;
}

#home .image {
  position: relative;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text  {
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}
#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  text-align: justify;
  text-justify: inter-word;
}
/*====  Wiki ============================ */

#wiki{
  height: 100px;
}

/*====  SOBRE ============================ */
#about {
  background-image: url('/assets/fotos/sobre-nos.png');
  background-size: cover;
  background-position: center;
  color: white;
}

#about .container {
  display: flex;
  align-items: center;
}
#about p {
  text-align: justify;
  text-justify: inter-word;
  width: 30.5rem ;
  height: 18.43rem;
  left: 46,4375rem;
  top: 13.875rem;
}

#about h2 {
  color: var(--color-roxo-claro);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  height: 16rem;
  font-size: 7.3rem;
  line-height: 7rem;
}


/* swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*====  CONTACT ============================ */
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}
#contact h2 {
  width: 474px;
  height: 108px;
  left: 121px;
  top: 111px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #5F2A96;
}
#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--color-AZUL);
}

/*====  FOOTER ============================ */
footer {
  background: var(--color-roxo);
}

footer p{
  margin-bottom: 0px;
  color: #fafafa;
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;

}

footer .brand p {
  color: var(--body-color);

}

footer i {
  font-size: 1.5rem;
  color: var(--body-color);
}

.social{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--body-color);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-color);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
/* medium devices: 767 > */
