* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*====  VARIABLES ============================ */


:root {
  --header-height: 4.5rem;
  --color-preto: #000000;
  --color-azul-acinzentado: #8186C0;
  --color-roxo-medio: #5E2993;
  --color-rosa-claro: #F178B6;
  --color-rosa-choque: #B75CDB;
  --colo-branco: #ffffff;
  --color-roxo-escuro: #432D9C;
  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
}
/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--color-preto);
}

#header .logo {
  width: 240px;
  font-family: 'Poppins';

}

.divider-1 {
  height: 1px;
  background: var(--color-azul-acinzentado)
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}



nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}
.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
/* navigation */
nav .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}
nav .menu ul {
  display: flex;
  gap: 2rem;
}

/*====  LAYOUT ============================ */
.grid {
  display: grid;
  gap: 1rem;
}

.grid .dadosUser{
  display: flex;
  align-items: center;
  color: #5E2993;
  cursor: pointer;
}

.grid .dadosUser:hover{
  width: 140%;
  height: 100%;
  padding-left: 20%;
  transition: 0.3s;

  background-color: #f178b6;
  color: white;

  cursor: pointer;
  border: 0.0625rem;
  border-radius: 0.5rem;
}

.grid .dadosUser i{
  font-size: 30px;
  margin-left: 15px;
}

#header {
  border-bottom: 1px solid #432D9C;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  width: 100%;
}

/*====  PAISES  ============================ */

select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
} 

.paises{

  width: 22.2222rem;
  height: 2.7778rem;
  border: 0.0625rem solid #8186C0;
  border-radius: 0.5rem;
  margin-top: 8rem;
  color: #432D9C;

}
.title{
  color: #5E2993;
  padding-top: 4rem;
  padding-bottom: 1rem;

}
.para{
  padding-bottom: 0.9rem;
  color: #5E2993;

}
.imgContainer{
  float: right;
}
.imgPais{
  width: 400px;
  height: 240px;
  border-radius: 5px;
}


.input {
  padding-top: 1.4rem;
  padding-bottom: 4rem;
  color: #5E2993;

}
.lab{
  padding-right: 1rem;

}

.button {
  background: var(--color-rosa-claro);
  color: var(--colo-branco);

  height: 3rem;
  padding: 0 5rem;
  border: 0.0625rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
  margin-bottom: 7.7rem;

}

.button:hover{
  background-color: #ec6daf;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #432D9C;
  border-radius: 5px;
  border: none;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  background-color: #5E2993;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 9px;
}

/*====  FOOTER ============================ */
footer {
  background: var(--color-roxo-medio);
  position:static ;
  width: 100%;
  padding: 2.2rem;
}

footer p{
  margin-bottom: 0px;
  color: #fafafa;
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;

}

footer .brand p {
  color: var(--colo-branco);
  margin-bottom:1rem

}

footer i {
  font-size: 1.5rem;
  color: var(--colo-branco);
}

.social{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}



/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}
